@import url('../css/fonts.css');

:root{

    /* Colors */
    --text-gray: #3f4954;
    --text-light: #f7f7f7;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --magenta: #962655;
    --midnight: #104f55;
    --orange: #d18623;


    /* Gradients */
    --gum: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

* {
    margin: 0;
    padding: 0;
}


/*---Nav-Bar---*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;

}

.custom-toggler.navbar-toggler { 
    background-color: rgb(199, 156, 77); 
} 

.navbar-brand img {
    height: 60px;
    padding-left: 30;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: rgb(182, 182, 182) !important;
    text-decoration: none;
    transform: translateY(2px);
}

.navbar {
    background: rgb(0, 0, 0);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
    font-family: Montserrat;
}

.navbar .social {
    padding: 10px 10px;
    font-family: Karla;
    color:  white;
}


/*---Slider---*/

#slider {
    width:  100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}

.carousel-caption h5 {
    color: rgb(255, 255, 255);
    font-size: 42px;
}

/*---About---*/

#about {
    padding-top: 100px;
    padding-bottom: 100px;
    color: rgb(0, 0, 0);
}

#about .container .row{
    justify-content: space-between;
    display: flex;
}

#about .btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content {
    padding-top: 20px;
    width: 650px;
 }

.about-image {
    float: right;
    background-size: 150px;
    width: 300px;
    height: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;

}

/*---Services---*/

#menu {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../assets/menu.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255) !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#menu .container {
    justify-content: space-evenly;
    display: flex;
}

#menu .container .menu-img {
    height: 300px;
}

#menu .container a {
    margin-top: 150px;
}

/*---Contact---*/

#contact {
    padding: 30px;
}

/*---Footer---*/

#footer {
    background: rgb(199, 156, 77);
    color: rgb(255, 255, 255);
    padding: 12px;
}

/*---Menu page----*/
.menu {
    padding-top: 50px;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    
}
